{include file="public:header"/}

{include file="public:nav"/}

<div class="row">
    <div class="col-md-8">
        <div class="page-header">
            <h2>用户注册</h2>
        </div>


            <form class="form-horizontal" method="post" id="login">
                 <div class="form-group">
                <label for="InputUser1" class="col-sm-2 control-label">用户名:</label>
                 <div class="col-sm-10">
                <input type="text" name="name" class="form-control" id="InputUser1" placeholder="User">
                 </div>
                </div>
                <div class="form-group">
                    <label for="InputEmail1" class="col-sm-2 control-label">邮箱:</label>
                    <div class="col-sm-10">
                        <input type="email" name="email" class="form-control" id="InputEmail1" placeholder="Email">
                    </div>
                </div>

                <div class="form-group">
                    <label for="InputPhone1" class="col-sm-2 control-label">手机号:</label>
                    <div class="col-sm-10">
                        <input type="text" name="mobile" class="form-control" id="InputPhone1" placeholder="Mobile">
                    </div>
                </div>

            <div class="form-group">
                <label for="InputPassword1" class="col-sm-2 control-label">密码:</label>
                <div class="col-sm-10">
                <input type="password"  name="password" class="form-control" id="InputPassword1" placeholder="Password">
                </div>
            </div>

                <div class="form-group">
                    <label for="InputPassword2" class="col-sm-2 control-label">确认密码:</label>
                    <div class="col-sm-10">
                        <input type="password"  name="password_confirm" class="form-control" id="InputPassword2" placeholder="Password Confirm">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-2">
                    <button type="submit" class="btn btn-default">注册</button>
                    </div>
                </div>
        </form>
    </div>





    {include file="public:right"/}

    {include file="public:footer"/}